<!-- <app-data-binding></app-data-binding> -->
<!-- <app-ciclo [valorInicial]='valor' *ngIf="!deletarCiclo"></app-ciclo>
<button (click)="mudarValor()" >Mudar Valor</button>

<button (click)="destruirCiclo()" >Deletar</button> -->
<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-exemplo-ng-content>
    Coneudo passado para o componente.
    <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content>

<app-exemplo-ng-content>
    <div class="titulo">Titulo do painel</div>
    <div class="corpo">Coneudo passado para o componente.</div>
    <div class="corpo">Coneudo passado para o componente2.</div>
        <app-operador-elvis></app-operador-elvis>
    </app-exemplo-ng-content> -->
 <!-- <app-diretivas-customizadas></app-diretivas-customizadas> -->
<app-criar-curso></app-criar-curso>
<br><br>
<app-cursos></app-cursos>